const {
    numeric,
    enumLookup,
    deviceEndpoints,
    onOff,
    text,
} = require("zigbee-herdsman-converters/lib/modernExtend");
const {assertString} = require("zigbee-herdsman-converters/lib/utils");
const reporting = require("zigbee-herdsman-converters/lib/reporting");
const constants = require("zigbee-herdsman-converters/lib/constants");
{% if z2m_v1 %}
const ota = require("zigbee-herdsman-converters/lib/ota");
{% endif%}

const romasku = {
    switchAction: (name, endpointName) =>
        enumLookup({
            name,
            endpointName,
            lookup: { on_off: 0, off_on: 1, toggle: 2 },
            cluster: "genOnOffSwitchCfg",
            attribute: "switchActions", // Enum8
            description: `Select how switch should work:
            - on_off: When switch physically moved to position 1 it always generates ON command, and when moved to position 2 it generates OFF command
            - off_on: Same as on_off, but positions are swapped
            - toggle: Generate TOGGLE command for any press of physicall switch`,
        }),
    switchMode: (name, endpointName) =>
        enumLookup({
            name,
            endpointName,
            lookup: { toggle: 0, momentary: 1, multifunction: 2 },
            cluster: "genOnOffSwitchCfg",
            attribute: { ID: 0xff00, type: 0x30 }, // Enum8
            description: "Select the type of switch connected to the device",
        }),
    relayMode: (name, endpointName) =>
        enumLookup({
            name,
            endpointName,
            lookup: { detached: 0, raise: 1, long_press: 2 },
            cluster: "genOnOffSwitchCfg",
            attribute: { ID: 0xff01, type: 0x30 }, // Enum8
            description: "When to trigger internal relay",
        }),
    relayIndex: (name, endpointName, relay_cnt) =>
        enumLookup({
            name,
            endpointName,
            lookup: Object.fromEntries(
                Array.from({ length: relay_cnt || 2 }, (_, i) => [`relay_${i + 1}`, i + 1])
            ),
            cluster: "genOnOffSwitchCfg",
            attribute: { ID: 0xff02, type: 0x20 }, // uint8
            description: "Which internal relay it should trigger",
        }),
    longPressDuration: (name, endpointName) =>
        numeric({
            name,
            endpointNames: [endpointName],
            cluster: "genOnOffSwitchCfg",
            attribute: { ID: 0xff03, type: 0x21 }, // uint16
            description: "What duration is considerd to be long press",
            valueMin: 0,
            valueMax: 5000,
        }),
    pressAction: (name, endpointName) =>
        enumLookup({
            name,
            endpointName,
            access: "STATE_GET",
            lookup: { released: 0, press: 1, long_press: 2 },
            cluster: "genMultistateInput",
            attribute: "presentValue",
            description: "Action of the switch: 'released' or 'press' or 'long_press'",
        }),
     deviceConfig: (name, endpointName) =>
        text({
            name,
            endpointName,
            access: "ALL",
            cluster: "genBasic",
            attribute:  { ID: 0xff00, type: 0x44 }, // long str
            description: "Current configuration of the device",
            zigbeeCommandOptions: {timeout: 30_000},
            validate: (value) => {
                assertString(value);
                
                const validatePin = (pin) => {
                    const validPins = [
                        "A0", "A1", "A2", "A3", "A4", "A5", "A6","A7",
                        "B0", "B1", "B2", "B3", "B4", "B5", "B6","B7",
                        "C0", "C1", "C2", "C3", "C4", "C5", "C6","C7",
                        "D0", "D1", "D2", "D3", "D4", "D5", "D6","D7",
                        "E0", "E1", "E2", "E3",
                    ];
                    if (!validPins.includes(pin)) throw new Error(`Pin ${pin} is invalid`);
                }

                if (value.length > 256) throw new Error('Length of config is greater than 256');
                if (!value.endsWith(';')) throw new Error('Should end with ;');
                const parts = value.slice(0, -1).split(';');  // Drop last ;
                if (parts.length < 2) throw new Error("Model and/or manufacturer missing");
                for (const part of parts.slice(2)) {
                    if (part[0] == 'B' || part[0] == 'S') {
                        validatePin(part.slice(1,3));
                        if (!["u", "U", "d", "f"].includes(part[3])) {
                            throw new Error(`Pull up down ${part[3]} is invalid. Valid options are u, U, d, f`);
                        } 
                    } else if (part[0] == 'L' || part[0] == 'R') {
                        validatePin(part.slice(1,3));
                    } else if(part[0] == 'I') {
                        ; // TODO: write validatetion
                    } else {
                        throw new Error(`Invalid entry ${part}. Should start with one of B, R, L, S, I`);
                    }
                }
            }
        }),
};

const definitions = [
{% for device in devices %}
    {
        zigbeeModel: [
        {% for zb_model in device.zb_models %}
            "{{zb_model}}",
        {% endfor %}
        ],
        model: "{{device.model}}",
        vendor: "Tuya-custom",
        description: "Custom switch (https://github.com/romasku/tuya-zigbee-switch)",
        extend: [
            deviceEndpoints({ endpoints: {
                {%- for switchName in device.switchNames -%}
                    {{switchName}}: {{loop.index}},{{" "}}
                {%- endfor -%}
                {%- for relayName in device.relayNames -%}
                    "{{relayName}}": {{loop.index  + (device.switchNames | length)}},{{" "}}
                {%- endfor -%}
            } }),
            romasku.deviceConfig("device_config", "1"),
            onOff({ endpointNames: {{device.relayNames | tojson }} }),
            {% for switchName in device.switchNames %}
            romasku.pressAction("switch_{{switchName}}_press_action", "{{switchName}}"),
            romasku.switchMode("switch_{{switchName}}_mode", "{{switchName}}"),
            romasku.switchAction("switch_{{switchName}}_action_mode", "{{switchName}}"),
            romasku.relayMode("switch_{{switchName}}_relay_mode", "{{switchName}}"),
            romasku.relayIndex("switch_{{switchName}}_relay_index", "{{switchName}}", {{device.relayNames | length}}),
            romasku.longPressDuration("switch_{{switchName}}_long_press_duration", "{{switchName}}"),
            {% endfor %}
        ],
        meta: { multiEndpoint: true },
        configure: async (device, coordinatorEndpoint, logger) => {
            {% for switchName in device.switchNames %}
            await reporting.bind(device.getEndpoint({{loop.index}}), coordinatorEndpoint, ["genMultistateInput"]);
            {% endfor %}
            {% for relayName in device.relayNames %}
            const endpoint{{loop.index  + (device.switchNames | length)}} = device.getEndpoint({{loop.index  + (device.switchNames | length)}});
            await reporting.onOff(endpoint{{loop.index  + (device.switchNames | length)}}, {
                min: 0,
                max: constants.repInterval.MINUTE,
                change: 1,
            });
            {% endfor %}
        },
        {% if z2m_v1 %}
        ota: ota.zigbeeOTA,
        {% else %}
        ota: true,
        {% endif%}
    },
{% endfor %}
];

module.exports = definitions;
