let tuyaDefinitions = require("zigbee-herdsman-converters/devices/tuya");
let moesDefinitions = require("zigbee-herdsman-converters/devices/moes");
let avattoDefinitions = require("zigbee-herdsman-converters/devices/avatto");
let tuya = require("zigbee-herdsman-converters/lib/tuya");

// Support Z2M 2.1.3-1
tuyaDefinitions = tuyaDefinitions.definitions ?? tuyaDefinitions;
moesDefinitions = moesDefinitions.definitions ?? moesDefinitions;
avattoDefinitions = avattoDefinitions.definitions ?? avattoDefinitions;

const definitions = [];
const multiplePinoutsDescription = "WARNING! There are multiple known pinouts for this device! Before flashing custom firmware, it is recommended you disassemble the device and trace the board pinout. Please check https://github.com/romasku/tuya-zigbee-switch/tree/main/docs/multiple_pinouts.md";

{% if z2m_v1 %}
const ota = require("zigbee-herdsman-converters/lib/ota");
{% endif%}

const tuyaModels = [
{% for item in tuyaModels %}
    "{{ item }}",
{% endfor %}
];

const tuyaMultiplePinoutsModels = [
{% for item in tuyaMultiplePinoutsModels %}
    "{{ item }}",
{% endfor %}
];

for (let definition of tuyaDefinitions) {
    if (tuyaModels.includes(definition.model)) {
        if (tuyaMultiplePinoutsModels.includes(definition.model)) {
            definitions.push(
                {
                    ...definition,
                    description: multiplePinoutsDescription,
                    whiteLabel: definition.whiteLabel.map(entry => ({...entry, description: multiplePinoutsDescription,})),
                    {% if z2m_v1 %}
                    ota: ota.zigbeeOTA,
                    {% else %}
                    ota: true,
                    {% endif%}
                }
            )
        }
        else {
            definitions.push(
                {
                    ...definition,
                    {% if z2m_v1 %}
                    ota: ota.zigbeeOTA,
                    {% else %}
                    ota: true,
                    {% endif%}
                }
            )
        }
    }
}

const moesModels = [
{% for item in moesModels %}
    "{{ item }}",
{% endfor %}
];

const moesMultiplePinoutsModels = [
{% for item in moesMultiplePinoutsModels %}
    "{{ item }}",
{% endfor %}
];

for (let definition of moesDefinitions) {
    if (moesModels.includes(definition.model)) {
        if (moesMultiplePinoutsModels.includes(definition.model)) {
            definitions.push(
                {
                    ...definition,
                    description: multiplePinoutsDescription,
                    whiteLabel: definition.whiteLabel.map(entry => ({...entry, description: multiplePinoutsDescription,})),
                    {% if z2m_v1 %}
                    ota: ota.zigbeeOTA,
                    {% else %}
                    ota: true,
                    {% endif%}
                }
            )
        }
        else {
            definitions.push(
                {
                    ...definition,
                    {% if z2m_v1 %}
                    ota: ota.zigbeeOTA,
                    {% else %}
                    ota: true,
                    {% endif%}
                }
            )
        }
    }
}

const avattoModels = [
{% for item in avattoModels %}
    "{{ item }}",
{% endfor %}
];

const avattoMultiplePinoutsModels = [
{% for item in avattoMultiplePinoutsModels %}
    "{{ item }}",
{% endfor %}
];

for (let definition of avattoDefinitions) {
    if (avattoModels.includes(definition.model)) {
        if (avattoMultiplePinoutsModels.includes(definition.model)) {
            definitions.push(
                {
                    ...definition,
                    description: multiplePinoutsDescription,
                    whiteLabel: definition.whiteLabel.map(entry => ({...entry, description: multiplePinoutsDescription,})),
                    {% if z2m_v1 %}
                    ota: ota.zigbeeOTA,
                    {% else %}
                    ota: true,
                    {% endif%}
                }
            )
        }
        else {
            definitions.push(
                {
                    ...definition,
                    {% if z2m_v1 %}
                    ota: ota.zigbeeOTA,
                    {% else %}
                    ota: true,
                    {% endif%}
                }
            )
        }
    }
}

module.exports = definitions;
