let tuyaDefinitions = require("zigbee-herdsman-converters/devices/tuya");

// Support Z2M 2.1.3-1
if (tuyaDefinitions.definitions !== undefined) {
    tuyaDefinitions = tuyaDefinitions.definitions;
}

{% if z2m_v1 %}
const ota = require("zigbee-herdsman-converters/lib/ota");
{% endif%}

const tuyaModels = [
{% for item in models %}
    "{{ item }}",
{% endfor %}
];

const definitions = [];


for (let definition of tuyaDefinitions) {
    if (tuyaModels.includes(definition.model)) {
        definitions.push(
            {
                ...definition,
                {% if z2m_v1 %}
                ota: ota.zigbeeOTA,
                {% else %}
                ota: true,
                {% endif%}
            }
        )
    }
}

module.exports = definitions;
